<h2> Form </h2>

<%= label_tag :email %>
<%= text_field_tag :email %>

<%= label_tag :first_name %>
<%= text_field_tag :first_name %>

<%= label_tag :last_name %>
<%= text_field_tag :last_name %>

<%= label_tag :address %>
<%= text_field_tag :address %>

<%= label_tag :phone %>
<%= text_field_tag :phone %>




